<div class="Post">
    {% for post in index %}
    <div class="card-header">
        {% if user.is_authenticated or post.is_public %}
        <li>{% if not post.is_public %}[下書き]{% endif %}<a href="{% url 'blogs:post_detail' post.id %}">{{ post.title }}</a>
            <br>
            {% if post.image %}
            <a href="{% url 'blogs:post_detail' post.id %}">
                <img src="{{ post.image.url }}" alt="{{ post.title }}" width="240" height="126">
            </a>
            {% endif %}
            <p>{{ post.update_at }}</p>

        </li>
        {% endif %}
        <div class="article_button">
            <a href="{% url 'blogs:post_detail' post.id %}">
                <button class="btn btn-primary" type="submit">記事を読む</button>
            </a>
        </div>
    </div>
    {% endfor %}
</div>