<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>
<body>
    <div>
        <header class="header">
            <div  class="headerLeft">
                <div>
                    <p>●</p>
                    <p>google</p>
                    <button id="a">▶</button>
                </div>
            </div>
            <div class="headerCenter">
                <form action="">
                    <div class="headerDiv" id="headerDiv">
                        <select name="" size="1" id="">
                            <option value="">all</option>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                        </select><input type="text" placeholder="入力してください" onclick="input_text()" id="input_text"><input id="submit" type="submit" class="submit">
                    </div>
                </form>
            </div>
            <div class="headerRight">
                <div>
                    <p>▶</p>
                    <p>×</p>
                </div>
            </div>

        </header>
        <hr class="hr">
    </div>
    <p class = "p" onclick="a()">作成</p>

    <div class="Center">
        <aside>
            <div class="scrollbar">
                <div>
                    <p class="allMails">全ての受信メール</p>
                    <p class= "addElement" id="addElement">追加</p>
                </div>
            </div>
            <div>
                <h1>sss</h1>
                <h2>sssss</h2>
            </div>
        
        </aside>
        <main>
            <div class="push" id="push">

            </div>
        </main>
    </div>
























    <div class="area" id="area">
        <div class="headerArea">
            <div class="left">
                <p>入力してください</p>
            </div>
            <div class="right">
                <p><span>●</span></p>
                <p><span>▶</span></p>
                <p onclick="turnBack()"><span>×</span></p>
            </div>
        </div>
        <div class="main">
            <input type="text"placeholder="宛先" id="destination">
            <hr>
            <input type="text"placeholder="住所" id="address">
            <hr>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="input_message">
            <div>
                <button>キャンセル</button>
                <button id="createMail">作成</button>
            </div>
        </div>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>

